<div class="container text-left" style="width: 400px;">
  <h4>Getting Started</h4>
  {% for topic in site.data.getting-started %}
    <h5>
      {% if topic.todo %}
      <span class="glyphicon glyphicon-wrench"></span>
      {% endif %}
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
  <br/>
  <h4>Exercises</h4>
  {% for topic in site.data.exercises %}
    <h5>
      {% if topic.todo %}
      <span class="glyphicon glyphicon-wrench"></span>
      {% endif %}
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
  <br/>
  <h4>Clojure</h4>
  {% for topic in site.data.clojure %}
    <h5>
      {% if topic.todo %}
      <span class="glyphicon glyphicon-wrench"></span>
      {% endif %}
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
  <br/>
  <h4>Applications</h4>
  {% for topic in site.data.applications %}
    <h5>
      {% if topic.todo %}
      <span class="glyphicon glyphicon-wrench"></span>
      {% endif %}
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
  <br/>
  <h4>Web Applications</h4>
  {% for topic in site.data.web-applications %}
    <h5>
      {% if topic.todo %}
      <span class="glyphicon glyphicon-wrench"></span>
      {% endif %}
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
  <br/>
  <h4>ClojureScript (probably?)</h4>
  {% for topic in site.data.clojure-script %}
    <h5>
      <span class="glyphicon glyphicon-wrench"></span>
      <a href="{{ site.baseurl }}{{ topic.permalink }}">{{topic.title}}</a>
    </h5>
  {% endfor %}
</div>
