<div id="footer">
  <div class="container">
    <p class="text-muted credit">
      © ClojureBridge 2013-2014
      <a href="https://twitter.com/ClojureBridge"
         class="twitter-follow-button" data-show-count="false"
         data-size="large">Follow @ClojureBridge</a>
      <script>!function(d,s,id){var
        js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,
        'script', 'twitter-wjs');</script>
    </p>
  </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
