<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/offcanvas.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/sticky-footer.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
